body{
    background-color: rgb(43 43 43);
}
.parag{
    color: aliceblue;
    font-size: large;
}
.paragg{
    color: aliceblue;
    font-size: large;
}
.qq{
    margin-bottom: 10px;
}
.imgo{
    margin-left: 500px;
}
.gogo{
    color: aliceblue;
    font-size: large;

        
    
}
.vsi{
    
}
.opo{
    color: aliceblue;
    font-size: large;
}
.h12{
    color: aliceblue;
}
footer{
    margin-bottom: 450px;
    color: aliceblue;
    background-color: gray;
    color: white;
    margin-left: 100px;
}